

<% if logged_in? %>

<div class="container-fluid">
<h1>DASHBOARD<small> <%= link_to "log out", session_path, method: :delete %></small></h1>
	<%= render "partials/timeline_loggedin" %>
	
	



</div>

<% else %>

<div class="container">
	<div class="jumbotron">
		<h1> twiines </h1>
		<%= link_to "log in ", new_session_path %>
	</div>
	<%= render "partials/timeline" %>
</div>

<% end %>