

<% if logged_in? %>
<h1>DASHBOARD</h1>
<div class="container-fluid">
	<%= render "partials/timeline" %>
	<%= link_to "log out", session_path, method: :delete %>
</div>

<% else %>

<div class="container">
	<div class="jumbotron">
		<h1> twiines </h1>
	</div>
	<%= render "partials/timeline" %>
</div>

<% end %>