 

<%form_for ([@project, @milestone]) do |f|%>
<div class="modal fade" id="#edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
     

      <%= f.file_field :image %>
      <%=f.text_field :name  %>
     <%= f.text_field :description %> 
      </div>
      <div class="modal-footer">
      <%= f.submit %>
      </div>
    </div>
  </div>
</div>
<%end%>
