
<h1>milestones</h1>

<ul class="media-list">
<% @milestones.each do |f|%>
<li class="media">
    <div  class="media-object col-sm-1">
              <div class="ratio" style="background-image:url('<%=f.image.url%>')" alt="responsive img"></div>
        </div>
              <div class="media-body panel">
              <div class="panel-heading">
                <h4 class="panel-title media-heading"> <%= f.name %></h4> by <em><%= link_to User.find(f.user_id.to_s).name, user_path(f.user_id) %> </em>
              </div>
                <div class="panel-body">
                  <%= truncate(f.description, length: 80, separator:' ')%>
                </div>
            </div>
               


</li>
<% end %>


</div>

</ul>



  










