// Place all the styles related to the twiines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twiine-row {
  text-align: center;
  background-color: rgba(200,255,255,0.6);
  padding: 20px;

	
}
.paginate-row {
  text-align: center;
  background-color: rgba(200,255,255,0.2);

  
}

.ratio-goal {
   	background-image: url(twii_3.svg);
   	background-color: lightgrey;
    width: 100%;
    height: 0;
    padding-bottom: 100% ; /* % of width, defines aspect ratio*/
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
