// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-milestone {
	background-image: url(plus.svg);
	width: 5em;
    height: 5em;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    display: inline-block;
 
}

.new-goal {
	background-image: url(plus_goal.svg);
	width: 5em;
    height: 5em;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    display: inline-block;
 
}

.carousel-caption {

	a {
	color: white;

	}
}

.carousel-caption-inner {
	opacity: 0;
}
.carousel-caption:hover {
	background-color: black;
	opacity: 0.8;
	border-radius: 10px;
	.carousel-caption-inner{
		opacity:0.9;
		margin: 10px;
	}
}


.modal-body {
	text-align: center;
	
	#edit {
	text-align: left;
	}
}


.user-box{
   
    width: 80px;
    height: 80px;
    border-radius: 40px;  
    box-shadow: 4px 4px 4px lightgrey;
    float: left;
}