// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbotron {
	text-align: center;
}
.welcome-box {
	background-image: url(repeater.svg); 
	background-repeat: no-repeat;
	background-size: fit;
	width: 2000px;
	height: 1000px;
	top: 5%;
	right: -5%;
	position: absolute;


}

.spacer-box {
	width: 100%;
	margin: 3em;
	-webkit-animation: spaceOut 3s; /* Chrome, Safari, Opera */
    animation: spaceOut 3s;
}


.spacer-box-center {
	width: 100%;
	margin: 4em;
	-webkit-animation: spaceOutMore 3s; /* Chrome, Safari, Opera */
    animation: spaceOut 3s;
}


.huge-header {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 6em;
	color: darkgrey;
}

.big-header {
	font-family: 'Josefin Sans', sans-serif;
	font-size:180%;
	color:black;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes spaceOut {
    0%   {margin: 1em;}
    100% {margin: 3em;}
}

/* Standard syntax */
@keyframes spaceOut {
    0%   {margin: 1em;}
    100% {margin: 3em;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes spaceOutMore {
    0%   {margin: 0em;}
    100% {margin: 4em;}
}

/* Standard syntax */
@keyframes spaceOutMore {
    0%   {margin: 0em;}
    100% {margin: 4em;}
}


